h1{
    color: aqua;
    text-align: center;
}
i{
    color: red;
}
del{
    background-color: pink;
}
strong{
    background-color: blue;
}
p{
    color: blueviolet;
}
h3{
    color: brown;
}
em{
    background-color: aquamarine;
}
